doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title=title
        link(rel='stylesheet', href='/css/bootstrap-orange.css')
        link(rel='stylesheet', href='/css/bootstrap-orange-theme.css')
        link(rel='stylesheet', href='/css/boost.css')
        //link(rel='stylesheet', href='/css/bootstrap-multiselect.css')
        link(rel='stylesheet', href='/css/application.css')
        block extra_styles
        script(src="/js/jquery.min.js")
        script(src="/js/boost.js")
        script.
            if (typeof console == "undefined") {
                window.console = {
                    log: function (msg) {
                    },
                    debug: function (msg) {
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                };
            }
            if (typeof String.prototype.trim !== 'function') {
                String.prototype.trim = function () {
                    return this.replace(/^\s+|\s+$/g, '');
                }
            }
        block extra_scripts
    body.container
        div.content-main
            div.wrapper
                include ./header
                include ./navbar
                include ./banners
                div.container-fluid
                    block content
