

script.
    function setCurrentTabActive() {
        var currentPath = window.location.pathname;
        $("#navigationTabs").children().each(function() {
            var $this = $(this);
            if($this.children().first().attr("href") === currentPath)
                $this.addClass("active");
        });
    }

div(class="navbar")
    div(class="navbar-inner")
        div(class="nav-collapse")
            ul(class="nav nav-tabs" id="navigationTabs")
                li
                    a(href="/") Hello
                li
                    a(href="/developers/") Developers
